.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: $laptop - 1px) {
    padding-bottom: 60px;
  }

  color: $primary-bg-color;
  background-color: $footer-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  .title {
    font-weight: 700;
    text-transform: uppercase;
  }
}
.footer-box {
  .title {
    margin-top: 0;
    margin-bottom: 20px;
  }
  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 60px;
  }
  @media screen and(min-width: $tablet) and (max-width: $laptop - 1px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and(min-width: $laptop) {
    width: calc((100% - 90px) / 4);
  }
  @media screen and (max-width: $laptop - 1px) {
    text-align: center;
  }
}
.page-footer {
  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) and(max-width: $laptop - 1px) {
    flex-wrap: wrap;
  }
}
address {
  font-style: normal;
  p {
    margin-top: 0;
    margin-bottom: 9px;
  }
}
