.header {
  position: relative;

  border-bottom: 1px solid #ececec;
}
.page-header {
  @media screen and(max-width: $tablet - 1px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
}
