html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background-color: $primary-bg-color;
  color: $primary-text-color;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
