.button {
  display: inline-block;
  font-family: inherit;
  color: $primary-bg-color;
  background-color: $accent-color;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.02em;

  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;

  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;
}
.button.primary {
  @extend .button;
  color: $title-text-color;
  background-color: $portfolio-bg-color;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 5px 21px;
  min-width: 73px;

  &:hover,
  &:focus {
    color: $primary-bg-color;
    background-color: $accent-color;
  }
}
.button.secondary {
  @extend .button;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 29px;

  &::after {
    content: "";
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-top: 0;
    margin-left: 10px;
    background-image: url("../images/iconsend.svg");
  }
}
.menu-button {
  display: none;
  @media screen and (max-width: $tablet - 1px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &.is-open .icon-menu {
      display: none;
    }
    &.is-open .icon-close {
      display: block;
    }
    &:hover .icon-menu,
    &:hover .icon-close,
    &:focus .icon-menu,
    &:focus .icon-close {
      fill: $accent-color;
    }
  }
}
