.comment {
  resize: none;

  @media screen and (max-width: $mobile - 1px) {
    width: 100%;
  }
  @media screen and (min-width: $mobile) and (max-width: $laptop - 1px) {
    width: 370px;
  }
  @media screen and (min-width: $laptop) {
    width: 448px;
  }

  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}
.comment-field {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.comment-label {
  position: absolute;
  top: 13px;
  left: 17px;
  transition: transform 250ms $timing-function;

  .comment:hover + &,
  .comment:focus + &,
  .comment:not(:placeholder-shown) + & {
    transform: translateY(-30px);

    font-size: 12px;
    line-height: 1.16;

    color: $accent-color;
  }
}
