.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and(max-width: $mobile - 1px) {
    width: 100%;
  }
  @media screen and(min-width: $mobile) {
    width: $mobile;
  }
  @media screen and(min-width: $tablet) {
    width: $tablet;
  }
  @media screen and(min-width: $laptop) {
    width: $laptop;
  }
}
