.copyright {
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (max-width: $laptop - 1px) {
    display: none;
  }
}
