.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: $laptop - 1px) {
    padding-bottom: 60px;
  }

  color: $primary-bg-color;
  background-color: $footer-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  .title {
    font-weight: 700;
    text-transform: uppercase;
  }
  .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}
.footer-box {
  @media screen and(min-width: $laptop) {
    width: calc(100% / 4);
  }
}
.page-footer {
  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) and(max-width: $laptop - 1px) {
    flex-wrap: wrap;
    padding-left: 75px;
    padding-right: 75px;
  }
  @media screen and(min-width: $laptop) {
    justify-content: space-between;
  }
}
