.form-field {
  display: block;
  position: relative;
  margin-top: 0;
  margin-bottom: 28px;
  &.sending {
    text-align: start;
    padding-left: 28px;
    @media screen and (max-width: $laptop - 1px) {
      font-size: 12px;
    }
  }
}
.form-input {
  width: 100%;
  height: 40px;

  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: $accent-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: $title-text-color;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms $timing-function;

  .form-input:hover + &,
  .form-input:focus + &,
  .form-input:not(:placeholder-shown) + & {
    top: 0;

    transform: translate(-25px, calc(-100% - 4px));
    font-size: 12px;
    line-height: 1.16;

    color: $accent-color;
  }
}
