.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  @media screen and (max-width: $mobile - 1px) {
    width: calc(100% - 30px);
  }
  @media screen and (min-width: $mobile) and (max-width: $laptop - 1px) {
    width: 450px;
  }
  @media screen and (min-width: $laptop) {
    width: 528px;
  }

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;

  background-color: $primary-bg-color;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms $timing-function;
}
.modal-form {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}
/* modal-button */
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  content: "";
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: $primary-bg-color;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.modal-icon {
  fill: $title-text-color;
  transition: fill 250ms $timing-function;

  .modal-button:hover &,
  .modal-button:focus & {
    fill: $accent-color;
  }
}
.modal-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: $title-text-color;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  transition: transform 250ms $timing-function;

  fill: $title-text-color;

  .form-input:hover ~ &,
  .form-input:focus ~ &,
  .form-input:not(:placeholder-shown) ~ & {
    fill: $accent-color;
  }
}
.modal-link {
  color: $accent-color;
}
