.section {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &#filter-section {
    @media screen and(max-width: $tablet - 1px) {
      padding-top: 60px;
    }
  }

  &:nth-child(2) {
    @media screen and(min-width: $laptop) {
      padding-bottom: 0;
    }
  }
  &:nth-child(3) {
    @media screen and (max-width: $laptop - 1px) {
      display: none;
    }
  }
  &:nth-child(4) {
    background-color: $portfolio-bg-color;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: $laptop) {
    font-size: 36px;
  }
}
.section .title {
  margin-top: 0;
  color: $primary-bg-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
