.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: auto;

  .footer & {
    margin: 0;
    justify-content: flex-start;
    @media screen and(max-width: $laptop - 1px) {
      justify-content: center;
    }
  }
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  .footer & {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  transition: border-radius 250ms $timing-function,
    background-color 250ms $timing-function;

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
  }
}
.social-icon {
  fill: $clients-color;

  transition: fill 250ms $timing-function;

  .social-link:hover &,
  .social-link:focus & {
    fill: $primary-bg-color;
  }
}
