.work {
  display: flex;
  justify-content: space-between;
  margin: -15px;
}
.work .item {
  position: relative;
  width: calc((100% - 90px) / 3);
  margin: 15px;
}
.work .title {
  position: absolute;
  width: 100%;
  height: 70px;

  padding-top: 27px;
  padding-bottom: 27px;

  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  background: rgba(47, 48, 58, 0.8);
}
