.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +100%);
  margin-top: 0;
  margin-bottom: 0;

  width: 322px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $primary-bg-color;

  transition: transform 500ms $timing-function;

  .portfolio > .element:hover &,
  .portfolio > .element:focus & {
    transform: translate(-50%, -50%);
  }
}
