$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$portfolio-bg-color: #f5f4fa;
$footer-color: #2f303a;
$clients-color: #afb1b8;
$element-color: #eeeeee;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
